mixin Avatar({ isHoverEffect, className = '', image, name, online, check, borderBlue, badge, upload })
  .Avatar(class=`${className} ${image ? 'image' : ''} ${name ? 'name' : ''} ${borderBlue ? 'border-blue' : ''} ${isHoverEffect ? 'hover-effect' : ''}`)
    if image
      .Avatar-image 
        img(src=`${image}`, alt="")

    if name
      .Avatar-name= name

    if online
      .Avatar-online 

    if check  
      .Avatar-check
        img(src="./assets/icons/icon-check-white.svg", alt="")

    if upload
      .Avatar-upload
        img(src="./assets/icons/icon-upload.svg", alt="")

    if badge
      .Avatar-badge.flex.items-center.justify-center(class=`${badge.styleType}`)= badge.label
