//- const TCardWithTitleProps = {
//-   className?: string,
//-   title: string,
//-   link?: string,
//-   layout?: 'vertical' | 'horizontal'
//-   seeAll: boolean,
//- }

mixin BookBlock({ className = '', image, title, layout = 'vertical', link = '#', showAction })
  .BookBlock(class=`${className} ${layout}`)
    .BookBlock-image 
      a(href=`${link}`)
        img(src=`${image}`, alt="")

    .BookBlock-title
      a(href=`${link}`)= title

    if showAction 
      .BookBlock-btns
        .BookBlock-btns-item
          +Button({ title: 'Đọc sách', size: 'small', styleType: 'primary-transparent special', iconSvg: 'eye' })
        .BookBlock-btns-item
          +Button({ title: 'Xoá khỏi tủ sách', size: 'small', styleType: 'gray-transparent', iconSvg: 'eye' })
